/* Reset cơ bản */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* bao gồm ::before và ::after */
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}
