.container_form {
  display: flex;
  width: 400px;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  gap: 15px;
  z-index: 1000;

  input {
    height: 38px;
    outline: none;
    padding: 0px 15px;
    border-radius: 4px;
    border: 1px solid #333;
  }
  button {
    height: 38px;
    border: none;
    border-radius: 4px;
    background-color: rgb(10, 75, 22);
    color: white;
  }
  .options {
    cursor: pointer;

    &:hover {
      color: rgb(16, 87, 29);
    }
  }
}
