.container {
  z-index: 1000;
  padding: 50px;
  border-radius: 12px;
  border: 1px solid rgb(31 41 55);
  display: flex;
  flex-direction: column;
  gap: 30px;
  .box_auth {
    width: 100%;
    display: flex;
    padding: 2px;
    gap: 2px;
    border: 1px solid rgb(31 41 55);
    border-radius: 6px;
    background-color: hsl(215deg 27.27% 8.63%);
    .active {
      background-color: rgb(40, 50, 63);
    }

    button {
      font-size: 15px;
      width: 100%;
      padding: 5px 12px;
      color: white;
      border: none;
      background-color: transparent;
      border-radius: 6px;

      &:hover {
        background-color: rgb(111, 121, 133);
      }
    }
  }
  .container_form {
    display: flex;
    width: 500px;
    flex-direction: column;
    padding: 30px;
    background: rgb(11 11 22);
    color: white;
    border-radius: 12px;
    gap: 15px;

    .remember {
      display: flex;
      gap: 8px;
      font-size: 15px;
    }
    .groupInput {
      display: flex;
      flex-direction: column;
      gap: 4px;
      position: relative;
      .pass_icon {
        position: absolute;
        right: 14px;
        cursor: pointer;
        font-size: 17px;
        top: 34px;
      }
      label {
        font-size: 14px;
        font-weight: 600;
      }
      input {
        height: 43px;
        outline: none;
        padding: 0px 15px;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid rgb(31 41 55);
        color: white;
      }
      input::placeholder {
        color: rgb(31 41 55);
        font-size: 14px;
        opacity: 1;
      }
    }

    button {
      height: 43px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      background-color: hsl(0deg 74.27% 52.75%);
      color: white;
    }
    .options {
      cursor: pointer;
    }
  }
}
