.sidebar {
  position: fixed;
  width: 220px;
  top: 0;
  left: 0;
  background-color: rgb(10, 75, 22);
  color: white;

  height: 100%;
  .sidebar_options {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    .option_item {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      cursor: pointer;
      &:hover {
        background-color: rgb(13, 100, 29);
        transition: all 300ms ease-in-out;
      }
    }
  }

  z-index: 1000;
  .head_sidebar {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px;
    svg {
      font-size: 25px;
    }
    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
