.btn {
  width: 100%;
  height: 38px;
  background: -webkit-linear-gradient(
    to right,
    #1d2671 #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c33764, #1d2671);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
